@model P3AddNewFunctionalityDotNetCore.Models.Cart

<div class="text-white pe-2">
    @if (Model.Lines.Any())
    {
        <small class="navbar-text">
            <b>@Localizer["YourCart"]:</b>
            @{
                int totalItems = Model.Lines.Sum(x => x.Quantity);
                var label = Localizer["Item"];

                if (totalItems > 1)
                {
                    label = Localizer["Items"];
                }
            }
            @totalItems @label
            @Model.GetTotalValue().ToString("c")
        </small>
    }
    <a class="btn btn-sm btn-secondary navbar-btn" asp-controller="Cart" asp-action="Index">
        <i class="fa fa-shopping-cart"></i>
    </a>
</div>
